
.container {
    position: relative;
    width: 80vw;
    height: 80vh;
    margin: 7rem auto;
    padding: 10vh 2vw;
    background-color: white;
    box-shadow: 0rem 1.2rem 2.5rem rgb(151, 151, 151);

    &__top-img {
        position: absolute;
        top: 0;
        z-index: 1;
        background-position: center;
    }

    &__bottom-img {
        position: absolute;
        bottom: 0;
        z-index: 1;
    }
}

.top {
    height: 50%;
    display: flex;
    justify-content: center;
}

.bottom {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 2.2rem;
}